%h2
  タイトル
%p
  =@note.title
%h2
  内容
%p
  =@note.content
= link_to "編集",edit_note_path(@note.id), class:"btn edit-btn"
= link_to "削除", destroy_note_path(@note.id), method: "delete", class: "btn destroy-btn", "data-confirm" => "本当に削除しますか？" 
