
%div.container
  %div.about-img
    %h1 About

  %div.title
    %h1 what is Book Diary!
    %p 本をたくさん読みたいと思っているあなたに使って欲しい、オンライン読書日記帳です。

    %h1 How to use Book Diary!
    %p あなたが読みおわった本のタイトル、著者名、感想を記録できます。また、いつでも簡単に編集することができます。

    %div.btn-big
      %div.about-btn
        -# %p 今すぐ記録する
        = link_to '今すぐ記録する', notes_new_path
