.index-img{
  background-image: url("rosewithbook.jpg");
  width: 100%;
  height: 300px;
  background-position: 50% 50%;
  margin-bottom: 20px;

  h1{
    color: white;
    font-weight: normal;
    margin-top: 0px;
    padding-top: 100px;
    padding-left: 10px;
  }
}
